@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-app: #121212;
  --color-dark-card: #1e1e1e;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50 dark:bg-dark-app font-sans transition-colors duration-300;
  }
}